# macOS
.DS_Store

# Xcode / user state
xcuserdata/
*.xcuserstate

# Xcode workspace (incl. project.xcworkspace in .xcodeproj)
*.xcworkspace/

# SwiftPM / Builds
.build/
DerivedData/
build/

# Package managers (optioneel)
Pods/
Carthage/

# Secrets
Secrets.xcconfig

# iOS artifacts (optioneel)
*.ipa
*.dSYM.zip
*.dSYM
