<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANALYTICS_ENDPOINT</key>
	<string>https://rhfhateyqdiysgooiqtd.functions.supabase.co/ingest</string>
	<key>ANALYTICS_TOKEN</key>
	<string>92942cbd38ee5c9c58663e2b7329cc6beb6e23063a79913529abf8b6a5c676b1</string>
	<key>INGEST_URL</key>
	<string>https://rhfhateyqdiysgooiqtd.functions.supabase.co/ingest</string>
	<key>LSEnvironment</key>
	<dict/>
	<key>OpenAIAPIKey</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJoZmhhdGV5cWRpeXNnb29pcXRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg3NDkxNjEsImV4cCI6MjA3NDMyNTE2MX0.wQXG_26AYWe-euRqtpCuU1BpJJ1jqQQkAAkZtAXZiL0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-Black.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
